.top {
  align-self: start;
}

.middle {
  align-self: center;
}

.bottom {
  align-self: end;
}

.right {
  align-self: end;
  margin-left: auto;
}

.left {
  align-self: start;
  margin-right: auto;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.display-flex {
  display: flex;
}
