.h1,
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 2.25em;
  color: #1e1f20;
}

.h2,
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #1e1f20;
}

.h3,
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #1e1f20;
}

.h4,
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #1e1f20;
}

.body-small {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #4c526d;
}

.body-large {
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #4c526d;
}

.label {
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.display {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
