:global(*) {
  transition: 0.15s color ease-out, 0.15s background ease-out;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
}

:global(html),
:global(body) {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #f7f7f7;
}

:global(main) {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 0;
  position: relative;

  &.flex-auto {
    flex: 0 1 auto;
  }
}

.row {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  z-index: 0;

  & .container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    height: 100%;
    width: 100%;

    & > :global(div) {
      &:not(.menu) {
        margin-bottom: 1.875rem;
      }
    }
  }
}
