.image.none,
img.none,
.image > a.none {
  width: 100%;
  height: 100%;
}

.image.xxs,
img.xxs,
.image > a.xxs {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.625em;
}

.image.sm,
img.sm,
.image > a.sm {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.image.xs,
img.xs,
.image > a.xs {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 0.75rem;
}

.image.md,
img.md,
.image > a.md {
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 1.25rem;
}

.image.lg,
img.lg,
.image > a.lg {
  width: 10rem;
  height: 9.063rem;
  border-radius: 0.5rem;
}

.image.xl,
img.xl,
.image > a.xl {
  width: 21.875rem;
  height: 19.063rem;
  border-radius: 0.5rem;
}
